name: downstream ci

on:
  workflow_call:
    inputs:
      skip_matrix_jobs:
        description: List of matrix jobs to be skipped.
        required: false
        type: string
      codecov_upload:
        description: Whether to upload code coverage
        type: boolean
        required: false
      eccodes:
        required: false
        type: string
      eccodes-python:
        required: false
        type: string
      eckit:
        required: false
        type: string
      odc:
        required: false
        type: string
      pyodc:
        required: false
        type: string
      metkit:
        required: false
        type: string
      fdb:
        required: false
        type: string
      atlas:
        required: false
        type: string
      fckit:
        required: false
        type: string
      plume:
        required: false
        type: string
      mir:
        required: false
        type: string

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      eccodes: ${{ steps.setup.outputs.eccodes }}
      eccodes-python: ${{ steps.setup.outputs.eccodes-python }}
      eckit: ${{ steps.setup.outputs.eckit }}
      odc: ${{ steps.setup.outputs.odc }}
      pyodc: ${{ steps.setup.outputs.pyodc }}
      metkit: ${{ steps.setup.outputs.metkit }}
      fdb: ${{ steps.setup.outputs.fdb }}
      atlas: ${{ steps.setup.outputs.atlas }}
      fckit: ${{ steps.setup.outputs.fckit }}
      plume: ${{ steps.setup.outputs.plume }}
      mir: ${{ steps.setup.outputs.mir }}
      trigger_repo: ${{ steps.setup.outputs.trigger_repo}}
    steps:
      - name: checkout reusable wfs repo
        uses: actions/checkout@v3
        with:
          repository: 'ecmwf-actions/downstream-ci'
          ref: 'main'

      - name: Run setup script
        id: setup
        env:
          TOKEN: ${{ secrets.GH_REPO_READ_TOKEN }}
          CONFIG: |
            ${{ inputs.eccodes || 'ecmwf/eccodes@develop' }}:
              path: .github/ci-config.yml
            ${{ inputs.eccodes-python || 'ecmwf/eccodes-python@develop' }}:
              path: .github/ci-config.yml
              python: true
            ${{ inputs.eckit || 'ecmwf/eckit@develop' }}:
              path: .github/ci-config.yml
            ${{ inputs.odc || 'ecmwf/odc@develop' }}:
              path: .github/ci-config.yml
            ${{ inputs.pyodc || 'ecmwf/pyodc@develop' }}:
              path: .github/ci-config.yml
              python: true
            ${{ inputs.metkit || 'ecmwf/metkit@develop' }}:
              path: .github/ci-config.yml
            ${{ inputs.fdb || 'ecmwf/fdb@develop' }}:
              path: .github/ci-config.yml
            ${{ inputs.atlas || 'ecmwf/atlas@develop' }}:
              path: .github/ci-config.yml
            ${{ inputs.fckit || 'ecmwf/fckit@develop' }}:
              path: .github/ci-config.yml
            ${{ inputs.plume || 'ecmwf/plume@develop' }}:
              path: .github/ci-config.yml
            ${{ inputs.mir || 'ecmwf/mir@develop' }}:
              path: .github/ci-config.yml
          PYTHON_VERSIONS: |
            - "3.10"
          MATRIX: |
            name:
            - gnu@debian-11
            - gnu@centos-7.9
            - gnu@rocky-8.6
            - clang@rocky-8.6
            - gnu@ubuntu-22.04
            - gnu@fedora-37
            include:
            - name: gnu@debian-11
              labels: [self-hosted, platform-builder-debian-11]
              os: debian-11
              compiler: gnu
              compiler_cc: gcc
              compiler_cxx: g++
              compiler_fc: gfortran
            - name: gnu@centos-7.9
              labels: [self-hosted, platform-builder-centos-7.9]
              os: centos-7.9
              compiler: gnu
              compiler_cc: gcc
              compiler_cxx: g++
              compiler_fc: gfortran
            - name: gnu@rocky-8.6
              labels: [self-hosted, platform-builder-rocky-8.6]
              os: rocky-8.6
              compiler: gnu
              compiler_cc: gcc
              compiler_cxx: g++
              compiler_fc: gfortran
            - name: clang@rocky-8.6
              labels: [self-hosted, platform-builder-rocky-8.6]
              os: rocky-8.6
              compiler: clang
              compiler_cc: clang
              compiler_cxx: clang++
              compiler_fc: gfortran
            - name: gnu@ubuntu-22.04
              labels: [self-hosted, platform-builder-ubuntu-22.04]
              os: ubuntu-22.04
              compiler: gnu
              compiler_cc: gcc
              compiler_cxx: g++
              compiler_fc: gfortran
            - name: gnu@fedora-37
              labels: [self-hosted, platform-builder-fedora-37]
              os: fedora-37
              compiler: gnu
              compiler_cc: gcc
              compiler_cxx: g++
              compiler_fc: gfortran
        run: python setup_downstream_ci.py

  eccodes:
    name: eccodes
    needs: [setup]
    if: ${{ inputs.eccodes && needs.setup.outputs.eccodes }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.setup.outputs.eccodes) }}
    runs-on: ${{ matrix.labels }}
    steps:
      - uses: ecmwf-actions/reusable-workflows/build-package-with-config@v2
        with:
          repository: ${{ inputs.eccodes || 'ecmwf/eccodes@develop' }}
          codecov_upload: ${{ needs.setup.outputs.trigger_repo == github.job && inputs.codecov_upload }}
          build_package_inputs: |
            repository: ${{ inputs.eccodes || 'ecmwf/eccodes@develop' }}
          build_config: .github/ci-config.yml

  eccodes-python:
    name: eccodes-python
    needs: [setup, eccodes]
    if: ${{ (always() && !cancelled()) && contains(join(needs.*.result, ','), 'success') && needs.setup.outputs.eccodes-python && (inputs.eccodes || inputs.eccodes-python) }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.setup.outputs.eccodes-python) }}
    runs-on: ${{ matrix.labels }}
    steps:
      - name: Build dependencies
        id: build-deps
        uses: ecmwf-actions/reusable-workflows/build-package-with-config@v2
        with:
          repository: ${{ inputs.eccodes-python || 'ecmwf/eccodes-python@develop' }}
          codecov_upload: ${{ needs.setup.outputs.trigger_repo == github.job && inputs.codecov_upload }}
          build_package_inputs: |
            repository: ${{ inputs.eccodes-python || 'ecmwf/eccodes-python@develop' }}
          build_config: .github/ci-config.yml
          build_dependencies: |
            ${{ inputs.eccodes }}

      - uses: ecmwf-actions/reusable-workflows/ci-python@v2
        with:
          lib_path: ${{ steps.build-deps.outputs.lib_path }}

  eckit:
    name: eckit
    needs: [setup]
    if: ${{ inputs.eckit && needs.setup.outputs.eckit }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.setup.outputs.eckit) }}
    runs-on: ${{ matrix.labels }}
    steps:
      - uses: ecmwf-actions/reusable-workflows/build-package-with-config@v2
        with:
          repository: ${{ inputs.eckit || 'ecmwf/eckit@develop' }}
          codecov_upload: ${{ needs.setup.outputs.trigger_repo == github.job && inputs.codecov_upload }}
          build_package_inputs: |
            repository: ${{ inputs.eckit || 'ecmwf/eckit@develop' }}
          build_config: .github/ci-config.yml

  odc:
    name: odc
    needs: [setup, eckit]
    if: ${{ (always() && !cancelled()) && contains(join(needs.*.result, ','), 'success') && needs.setup.outputs.odc && (inputs.eckit || inputs.odc) }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.setup.outputs.odc) }}
    runs-on: ${{ matrix.labels }}
    steps:
      - uses: ecmwf-actions/reusable-workflows/build-package-with-config@v2
        with:
          repository: ${{ inputs.odc || 'ecmwf/odc@develop' }}
          codecov_upload: ${{ needs.setup.outputs.trigger_repo == github.job && inputs.codecov_upload }}
          build_package_inputs: |
            repository: ${{ inputs.odc || 'ecmwf/odc@develop' }}
          build_config: .github/ci-config.yml
          build_dependencies: |
            ${{ inputs.eckit }}

  pyodc:
    name: pyodc
    needs: [setup, eckit, odc]
    if: ${{ (always() && !cancelled()) && contains(join(needs.*.result, ','), 'success') && needs.setup.outputs.pyodc && (inputs.eckit || inputs.odc || inputs.pyodc) }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.setup.outputs.pyodc) }}
    runs-on: ${{ matrix.labels }}
    steps:
      - name: Build dependencies
        id: build-deps
        uses: ecmwf-actions/reusable-workflows/build-package-with-config@v2
        with:
          repository: ${{ inputs.pyodc || 'ecmwf/pyodc@develop' }}
          codecov_upload: ${{ needs.setup.outputs.trigger_repo == github.job && inputs.codecov_upload }}
          build_package_inputs: |
            repository: ${{ inputs.pyodc || 'ecmwf/pyodc@develop' }}
          build_config: .github/ci-config.yml
          build_dependencies: |
            ${{ inputs.eckit }}
            ${{ inputs.odc}}

      - uses: ecmwf-actions/reusable-workflows/ci-python@v2
        with:
          lib_path: ${{ steps.build-deps.outputs.lib_path }}
          conda_install: libffi=3.3

  metkit:
    name: metkit
    needs: [setup, eckit, eccodes]
    if: ${{ (always() && !cancelled()) && contains(join(needs.*.result, ','), 'success') && needs.setup.outputs.metkit && (inputs.eckit || inputs.eccodes || inputs.metkit) }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.setup.outputs.metkit) }}
    runs-on: ${{ matrix.labels }}
    steps:
      - uses: ecmwf-actions/reusable-workflows/build-package-with-config@v2
        with:
          repository: ${{ inputs.metkit || 'ecmwf/metkit@develop' }}
          codecov_upload: ${{ needs.setup.outputs.trigger_repo == github.job && inputs.codecov_upload }}
          build_package_inputs: |
            repository: ${{ inputs.metkit || 'ecmwf/metkit@develop' }}
          build_config: .github/ci-config.yml
          build_dependencies: |
            ${{ inputs.eccodes }}
            ${{ inputs.eckit }}

  fdb:
    name: fdb
    needs: [setup, eckit, eccodes, metkit]
    if: ${{ (always() && !cancelled()) && contains(join(needs.*.result, ','), 'success') && needs.setup.outputs.fdb && (inputs.eckit || inputs.eccodes || inputs.metkit || inputs.fdb) }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.setup.outputs.fdb) }}
    runs-on: ${{ matrix.labels }}
    steps:
      - uses: ecmwf-actions/reusable-workflows/build-package-with-config@v2
        with:
          repository: ${{ inputs.fdb || 'ecmwf/fdb@develop' }}
          codecov_upload: ${{ needs.setup.outputs.trigger_repo == github.job && inputs.codecov_upload }}
          build_package_inputs: |
            repository: ${{ inputs.fdb || 'ecmwf/fdb@develop' }}
          build_config: .github/ci-config.yml
          build_dependencies: |
            ${{ inputs.eccodes }}
            ${{ inputs.eckit }}
            ${{ inputs.metkit }}

  atlas:
    name: atlas
    needs: [setup, eckit]
    if: ${{ (always() && !cancelled()) && contains(join(needs.*.result, ','), 'success') && needs.setup.outputs.atlas && (inputs.eckit || inputs.atlas) }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.setup.outputs.atlas) }}
    runs-on: ${{ matrix.labels }}
    steps:
      - uses: ecmwf-actions/reusable-workflows/build-package-with-config@v2
        with:
          repository: ${{ inputs.atlas || 'ecmwf/atlas@develop' }}
          codecov_upload: ${{ needs.setup.outputs.trigger_repo == github.job && inputs.codecov_upload }}
          build_package_inputs: |
            repository: ${{ inputs.atlas || 'ecmwf/atlas@develop' }}
          build_config: .github/ci-config.yml
          build_dependencies: |
            ${{ inputs.eckit }}

  fckit:
    name: fckit
    needs: [setup, eckit]
    if: ${{ (always() && !cancelled()) && contains(join(needs.*.result, ','), 'success') && needs.setup.outputs.fckit && (inputs.eckit || inputs.fckit) }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.setup.outputs.fckit) }}
    runs-on: ${{ matrix.labels }}
    steps:
      - uses: ecmwf-actions/reusable-workflows/build-package-with-config@v2
        with:
          repository: ${{ inputs.fckit || 'ecmwf/fckit@develop' }}
          codecov_upload: ${{ needs.setup.outputs.trigger_repo == github.job && inputs.codecov_upload }}
          build_package_inputs: |
            repository: ${{ inputs.fckit || 'ecmwf/fckit@develop' }}
          build_config: .github/ci-config.yml
          build_dependencies: |
            ${{ inputs.eckit }}

  plume:
    name: plume
    needs: [setup, eckit, fckit, atlas]
    if: ${{ (always() && !cancelled()) && contains(join(needs.*.result, ','), 'success') && needs.setup.outputs.plume && (inputs.eckit || inputs.fckit || inputs.atlas || inputs.plume) }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.setup.outputs.plume) }}
    runs-on: ${{ matrix.labels }}
    steps:
      - uses: ecmwf-actions/reusable-workflows/build-package-with-config@v2
        with:
          repository: ${{ inputs.plume || 'ecmwf/plume@develop' }}
          codecov_upload: ${{ needs.setup.outputs.trigger_repo == github.job && inputs.codecov_upload }}
          build_package_inputs: |
            repository: ${{ inputs.plume || 'ecmwf/plume@develop' }}
          build_config: .github/ci-config.yml
          build_dependencies: |
            ${{ inputs.eckit }}
            ${{ inputs.fckit }}
            ${{ inputs.atlas }}

  mir:
    name: mir
    needs: [setup, eckit, eccodes, atlas]
    if: ${{ (always() && !cancelled()) && contains(join(needs.*.result, ','), 'success') && needs.setup.outputs.mir && (inputs.eckit || inputs.eccodes || inputs.atlas || inputs.mir) }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.setup.outputs.mir) }}
    runs-on: ${{ matrix.labels }}
    steps:
      - uses: ecmwf-actions/reusable-workflows/build-package-with-config@v2
        with:
          repository: ${{ inputs.mir || 'ecmwf/mir@develop' }}
          codecov_upload: ${{ needs.setup.outputs.trigger_repo == github.job && inputs.codecov_upload }}
          build_package_inputs: |
            repository: ${{ inputs.mir || 'ecmwf/mir@develop' }}
          build_config: .github/ci-config.yml
          build_dependencies: |
            ${{ inputs.eccodes }}
            ${{ inputs.eckit }}
            ${{ inputs.atlas }}
